@import "../variables";
@import "../mixins";

$switch-color: unquote("rgb(#{$palette-indigo-500})") !default;
$switch-faded-color: unquote("rgba(#{$palette-indigo-500}, 0.26)") !default;
$switch-thumb-color: $switch-color !default;
$switch-track-color: unquote("rgba(#{$palette-indigo-500}, 0.5)") !default;

$switch-off-thumb-color: unquote("rgb(#{$palette-grey-50})") !default;
$switch-off-track-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$switch-disabled-thumb-color: unquote("rgb(#{$palette-grey-400})") !default;
$switch-disabled-track-color: unquote("rgba(#{$color-black}, 0.12)") !default;

.switch {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  height: $switch-label-height;
  margin: 0;
  padding: 0;

  overflow: visible;

  &.is-upgraded {
    padding-left: $switch-track-length - 8px;
  }

  // avoids blue box around switch
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch__input {
  line-height: $switch-label-height;

  .switch.is-upgraded & {
    // Hide input element, while still making it respond to focus.
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }
}

.switch__track {
  background: $switch-off-track-color;
  position: absolute;
  left: 0;
  top: $switch-track-top;
  height: $switch-track-height;
  width: $switch-track-length;
  border-radius: $switch-track-height;

  cursor: pointer;

  .switch.is-checked & {
    background: $switch-track-color;
  }

  fieldset[disabled] .switch,
  .switch.is-disabled & {
    background: $switch-disabled-track-color;
    cursor: auto;
  }
}

.switch__thumb {
  background: $switch-off-thumb-color;
  position: absolute;
  left: 0;
  top: $switch-thumb-top;
  height: $switch-thumb-size;
  width: $switch-thumb-size;
  border-radius: 50%;

  cursor: pointer;

  @include shadow-2dp();

  @include animation-default(0.28s);
  transition-property: left;

  .switch.is-checked & {
    background: $switch-thumb-color;
    left: $switch-track-length - $switch-thumb-size;

    @include shadow-3dp();
  }

  fieldset[disabled] .switch,
  .switch.is-disabled & {
    background: $switch-disabled-thumb-color;
    cursor: auto;
  }
}

.switch__label {
  position: relative;
  cursor: pointer;
  font-size: $switch-label-font-size;
  line-height: $switch-label-height;
  margin: 0;
  left: 24px;

  fieldset[disabled] .switch,
  .switch.is-disabled & {
    color: $switch-disabled-thumb-color;
    cursor: auto;
  }
}

.switch__ripple-container {
  position: absolute;
  z-index: 2;
  top: -($switch-ripple-size - $switch-label-height) / 2;
  left: $switch-thumb-size / 2 - $switch-ripple-size / 2;

  box-sizing: border-box;
  width: $switch-ripple-size;
  height: $switch-ripple-size;
  border-radius: 50%;

  cursor: pointer;

  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);

  transition-duration: 0.40s;
  transition-timing-function: step-end;
  transition-property: left;

  & .ripple {
    background: $switch-color;
  }

  fieldset[disabled] .switch,
  .switch.is-disabled & {
    cursor: auto;
  }

  fieldset[disabled] .switch & .ripple,
  .switch.is-disabled & .ripple {
    background: transparent;
  }

  .switch.is-checked & {
    left: $switch-track-length - $switch-ripple-size / 2 -
        $switch-thumb-size / 2;
  }
}