@import "../variables";
@import "../mixins";

$text-color-primary: unquote("rgba(#{$color-black}, 0.87)") !default;
$text-link-color: unquote("rgb(#{$palette-indigo-500})") !default;

html, body {
  font-family: $performance_font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: #fafafa;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  @include typo-display-3($colorContrast: true);

  font-size: 0.6em;
}

h1 {
  @include typo-display-3;

  margin-top: 24px;
  margin-bottom: 24px;
}

h2 {
  @include typo-display-2;

  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  @include typo-display-1;

  margin-top: 24px;
  margin-bottom: 24px;
}

h4 {
  @include typo-headline;

  margin-top: 24px;
  margin-bottom: 16px;
}

h5 {
  @include typo-title;

  margin-top: 24px;
  margin-bottom: 16px;
}

h6 {
  @include typo-subhead;

  margin-top: 24px;
  margin-bottom: 16px;
}

p {
  @include typo-body-1;

  margin-bottom: 16px;
}

a {
  color: $text-link-color;
  font-weight: 500;
}

blockquote {
  @include typo-blockquote;
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

address {
  @include typo-caption;

  font-style: normal;
}

ul, ol {
  @include typo-body-1;
}

main {
  position: absolute;
  top: $layout-header-desktop-row-height;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $layout-header-desktop-indent / 2;
  overflow: auto;

  @media screen and (max-width: $layout-screen-size-threshold) {
    top: $layout-header-mobile-row-height;
    padding: $layout-header-mobile-indent / 2;
  }
}