@import "../variables";
@import "../mixins";

.groups {
  .groups-arrow {
    will-change: transform;
    transform: rotate(0);
    transition: transform 0.3s $animation-curve-default;
  }

  &.list {
    padding-right: 0;
    padding-left: 0;
  }

  .groups & {
    height: 40px;

    &__start-detail {
      @include list-start-detail-size_(20px, true);
    }
  }

  li[level],
  tr[level] {
    display: none;
  }

  li[level="1"],
  li.groups--show[level] {
    display: flex;
  }

  tr[level="1"],
  tr.groups--show[level] {
    display: table-row;
  }

  &--arrowup {
    pointer-events: auto;

    .groups-arrow {
      transform: rotate(180deg);
    }
  }

  &--selected.groups-item,
  &--selected.groups-item .groups-item__start-detail {
    background: $layout-drawer-list-selected-text-color;
    color: unquote("rgb(#{$color-white})");
  }
}

.groups-item {
  @include typo-overflow-ellipsis;

  position: relative;
  display: flex;
  outline: none;
  margin-left: auto;
  margin-right: 0;
  font-size: 0.812rem;
  align-items: center;
  justify-content: flex-start;

  &__start-detail {
    @include list-start-detail-size_(24px);

    font-size: 24px;
  }
}

li.groups-item {
  height: 48px;
}
