@import "../variables";
@import "../mixins";

$input-text-background-color: transparent !default;
$input-text-label-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$input-text-bottom-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$input-text-highlight-color: unquote("rgb(#{$palette-indigo-500})") !default;
$input-text-disabled-color: $input-text-bottom-border-color !default;
$input-text-disabled-text-color: $input-text-label-color !default;
$input-text-error-color: unquote("rgb(213,0,0)") !default;

.textfield {
  position: relative;
  font-size: $input-text-font-size;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: $input-text-vertical-spacing 0;

  & .button {
    position: absolute;
    bottom: $input-text-vertical-spacing;
  }
}

.textfield--align-right {
  text-align: right;
}

.textfield--full-width {
  width: 100%;
}

.textfield--expandable {
  min-width: $input-text-button-size;
  width: auto;
  min-height: $input-text-button-size;

  .button--icon {
    top: $input-text-expandable-icon-top;
  }
}

.textfield__input {
  border: none;
  border-bottom: 1px solid $input-text-bottom-border-color;
  display: block;
  font-size: $input-text-font-size;
  font-family: $performance_font;
  margin: 0;
  padding: $input-text-padding 0;
  width: $input-text-width;
  background: none;
  text-align: left;
  color: inherit;

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.textfield__input-select {
    -webkit-appearance: none;
    margin: 0;
  }

  .textfield.is-focused & {
    outline: none;
  }

  .textfield.is-invalid & {
    border-color: $input-text-error-color;
    box-shadow: none;
  }

  fieldset[disabled] .textfield &,
  .textfield.is-disabled & {
    background-color: transparent;
    border-bottom: 1px dotted $input-text-disabled-color;
    color: $input-text-disabled-text-color;
  }
}

.textfield textarea.textfield__input {
  display: block;
}

.textfield__label {
  bottom: 0;
  color: $input-text-label-color;
  font-size: $input-text-font-size;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: ($input-text-padding + $input-text-vertical-spacing);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;

  .textfield.is-dirty &,
  .textfield.has-placeholder & {
    visibility: hidden;
  }

  .textfield--floating-label & {
    @include animation-default();
  }

  .textfield--floating-label.has-placeholder & {
    transition: none;
  }

  fieldset[disabled] .textfield &,
  .textfield.is-disabled.is-disabled & {
    color: $input-text-disabled-text-color;
  }

  .textfield--floating-label.is-focused &,
  .textfield--floating-label.is-dirty &,
  .textfield--floating-label.has-placeholder & {
    color: $input-text-highlight-color;
    font-size: $input-text-floating-label-fontsize;
    top: $input-text-vertical-spacing - ($input-text-floating-label-fontsize +
          $input-text-padding);
    visibility: visible;
  }

  .textfield--floating-label.is-focused .textfield__expandable-holder &,
  .textfield--floating-label.is-dirty .textfield__expandable-holder &,
  .textfield--floating-label.has-placeholder
    .textfield__expandable-holder
    & {
    top: -($input-text-floating-label-fontsize + $input-text-padding);
  }

  .textfield--floating-label.is-invalid & {
    color: $input-text-error-color;
    font-size: $input-text-floating-label-fontsize;
  }

  &:after {
    background-color: $input-text-highlight-color;
    bottom: $input-text-vertical-spacing;
    content: "";
    height: 2px;
    left: 45%;
    position: absolute;
    @include animation-default();
    visibility: hidden;
    width: 10px;
  }

  .textfield.is-focused &:after {
    left: 0;
    visibility: visible;
    width: 100%;
  }

  .textfield.is-invalid &:after {
    background-color: $input-text-error-color;
  }
}

.textfield__error {
  color: $input-text-error-color;
  position: absolute;
  font-size: $input-text-floating-label-fontsize;
  margin-top: 3px;
  visibility: hidden;
  display: block;

  .textfield.is-invalid & {
    visibility: visible;
  }
}

.textfield__expandable-holder {
  display: inline-block;
  position: relative;
  margin-left: $input-text-button-size;

  @include animation-default();
  display: inline-block;
  max-width: 0.1px;

  .textfield.is-focused &,
  .textfield.is-dirty & {
    max-width: 600px;
  }
  .textfield__label:after {
    bottom: 0;
  }
}

.textfield__icon {
  bottom: 20px;
  cursor: pointer;
  color: $input-text-label-color;
  padding: 4px 0;
  position: absolute;
  top: 20px;
  right: 0;
  pointer-events: none;

  & > i {
    outline: 0;
  }

  .textfield.is-dirty & {
    color: inherit;
  }

  fieldset[disabled] .textfield &,
  .textfield.is-disabled.is-disabled & {
    color: $input-text-disabled-text-color;
  }

  .textfield--floating-label.is-invalid & {
    color: $input-text-highlight-color;
  }
}
