@import "../variables";
@import "../mixins";

$toolbar-element-horizontal-padding-desktop: 24px;
$toolbar-element-horizontal-padding-mobile: 16px;

$toolbar-bg-color: unquote("rgb(#{$palette-indigo-500})") !default;
$toolbar-text-color: unquote("rgb(#{$color-white})");

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;

  &__container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
  }
}

.toolbar {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $toolbar-bg-color;
  color: $toolbar-text-color;
  z-index: 3;

  @include shadow-2dp();

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    box-sizing: border-box;
    align-self: stretch;
    align-items: center;
    height: $layout-header-desktop-row-height;
    margin: 0;
    padding: 0 $layout-header-desktop-indent / 2;

    & > * {
      flex-shrink: 0;
    }

    @media screen and (max-width: $layout-screen-size-threshold) {
      height: $layout-header-mobile-row-height;
      padding: 0 $layout-header-mobile-indent / 2;
    }
  }

  &__logo {
    display: block;
    height: 100%;
  }

  &__title,
  &__title.button {
    display: block;
    position: relative;
    margin-left: 20px;
    color: $toolbar-text-color;

    @include typo-title();
    @include typo-overflow-ellipsis;
    font-weight: 400;
    box-sizing: border-box;
  }

  &__title.button{
    font-size: 14px;
    font-weight: 600;
    vertical-align: baseline;

    .fa{
      vertical-align: baseline;
    }
  }

  &__icon {
    padding-right: $toolbar-element-horizontal-padding-desktop / 2;
    padding-left: $toolbar-element-horizontal-padding-desktop / 2;
    color: unquote("rgb(#{$color-white})");
    font-size: $layout-header-icon-size;
    cursor: pointer;
  }

  &__spacer {
    flex-grow: 1;
  }
}

@media (max-width: $mobile-breakpoint) {
  .toolbar__icon {
    padding-right: $toolbar-element-horizontal-padding-mobile / 2;
    padding-left: $toolbar-element-horizontal-padding-mobile / 2;
  }

  .toolbar__menu-icon {
    padding-right: $toolbar-element-horizontal-padding-mobile;
    padding-left: $toolbar-element-horizontal-padding-mobile;
  }
}
